body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 60px auto;
    padding: 30px;
    background: rgb(255, 253, 253);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #0a8b39;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0ad34d;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #140101;
}

form[style="display:inline;"] {
    display: inline;
}
